/* *********************************************** Profile Start  ************************************** */

@media (max-width: 1276px) {
  .my-addresses .default-bill,
  .my-addresses .default-ship {
    font-size: 12px !important;
  }
  .orders-table .row:nth-child(1) .orders-table-cell {
    padding: 10px 6px 10px 4px;
  }
}

@media (max-width: 1250px) {
/*  .orders .orders-table .row {
    padding: 18px 10px !important;
  }*/
  .orders .orders-table .row:nth-child(1) span {
    font-size: 14px !important;
  }
}

@media (max-width: 1174px) {
  .btn-pass,
  .btn-edit,
  .btn-delete {
    width: calc(100% / 3 - 10px) !important;
    font-size: 12px !important;
  }
  .wishlist-info-table .row:last-child .wishlist-info-table-cell:nth-child(2) {
    padding: 0 !important;
  }
  .wishlist-info-table
    .row:last-child
    .wishlist-info-table-cell:nth-child(2)
    .btn-quantity {
    height: 100%;
    padding: 12px 0;
  }
  .my-addresses .my-addresses-cell .d-flex {
    flex-flow: column !important;
  }
  .my-addresses .my-addresses-cell .default-bill,
  .my-addresses .my-addresses-cell .default-ship {
    width: 100% !important;
    margin: 5px 0 0 0 !important;
  }
}

@media (max-width: 1035px) {
  .btn-pass {
    width: 100% !important;
    margin: 0 0 10px 0;
  }
  .btn-edit,
  .btn-delete {
    width: calc(100% / 2 - 8px) !important;
    margin: 0;
  }
  .wishlist-info-table .wishlist-product-image {
    height: 80px !important;
  }
}

@media (max-width: 993px) {
  .new-address form fieldset .text-right {
    text-align: left !important;
    padding-left: 0 !important;
  }
}

@media (max-width: 936px) {
  .profile--section
    .email-history
    .email-history-table
    .email-history-table-cell {
    padding: 25px 10px 14px 10px;
    font-size: 14px !important;
  }
  .add-new-address .select-edit-cell {
    padding: 20px !important;
  }
  .add-new-address .select-edit {
    width: 100% !important;
  }
}

@media (max-width: 920px) {
  .profile-info .info--table .table-cell {
    padding: 21px 10px 5px 10px;
  }
  .profile-info .info--table .table-cell.border-right-0 p {
    font-size: 14px !important;
  }
  .wishlist .wishlist-table .wishlist-table-cell {
    padding: 21px 12px 10px 12px;
  }
  .wishlist-info-table .row:nth-child(2) .col-lg-7 {
    padding: 20px 10px !important;
  }
  .finalpay-table form .checkbox {
    margin-bottom: 40px !important;
  }
  .finalpay-table form .checkbox:last-child {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 768px) {
  .profile--section {
    margin-bottom: 150px !important;
    padding: 136px 30px;
  }
  .profile--section .profile--tabs {
    display: flex !important;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
    padding: 0;
  }
  .profile--section .profile--tabs .nav-link {
    width: 100% !important;
    text-align: center;
    border-radius: 0;
    border-left: 2px solid;
    margin-bottom: 5px;
    position: relative;
  }
  .profile--section .profile--tabs .nav-link.active {
    border-left: 0;
  }

  .profile--section .profile--tabs .nav-link.active::after {
    position: absolute;
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background: #2f2f30;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .profile--section .address,
  .profile--section .order-history,
  .profile--section .order,
  .profile--section .email-history,
  .profile--section .wishlist,
  .profile--section .new-wishlist,
  .profile--section .wishlist-info,
  .profile--section .remove-wishlist,
  .profile--section .new-address,
  .profile--section .my-addresses,
  .profile--section .delete-address,
  .profile--section .add-new-address,
  .profile--section .edit-profile,
  .profile--section .move-wishlist {
    padding: 0 15px !important;
  }
  .wishlist-info-table .wishlist-product-info .col-sm-12:first-child {
    border-bottom: 1px solid #c4c4c4;
    border-right: 0 !important;
    height: 160px !important;
  }
  .wishlist-info-table
    .wishlist-product-info
    .col-sm-12
    .wishlist-product-image {
    height: 120px !important;
  }
  .finalpay-table .row:first-child .finalpay-table-cell span,
  .finalpay-table .finalpay-table-cell {
    padding: 20px 10px !important;
    font-size: 13px !important;
  }
  .finalpay-table form {
    margin-top: 10px;
  }
  .finalpay-table form .checkbox label{
    font-size: 13px !important;
  }
  .orders .orders-table .table-cell.sm-row {
    display: none !important;
  }
  .orders .orders-table .row:first-child .table-cell {
    height: 60px !important;
  }
  .orders .orders-table .table-cell.sm-border {
    border-right: 1px solid #c4c4c4 !important;
  }
  .orders .orders-table .table-cell.second-row-cell {
    height: 70px !important;
    overflow-y: hidden !important;
    overflow-x: auto;
    scrollbar-color: #c4c4c4 transparent;
    scrollbar-width: thin;
  }
  .orders .orders-table .resp-row {
    display: flex !important;
  }
  .orders .orders-table .resp-row span {
    font-size: 14px !important;
  }
}

@media (max-width: 650px) {
  .wishlist-info-table .wishlist-product-info {
    display: flex;
    flex-flow: column;
  }
  .btn-quantity {
    font-size: 10px !important;
  }
  .profile--section .btn-filter,
  .profile--section .btn-reset {
    width: 50% !important;
  }
}

@media (max-width: 610px) {
  .orders-table .row:nth-child(1) .orders-table-cell span {
    font-size: 13px !important;
  }
  .orders-table
    .orders-table-cell:not(.orders-table .row:nth-child(1) .orders-table-cell) {
    padding: 10px 5px 5px 5px !important;
    font-size: 12px !important;
  }
  .orders .shipping-table .table-cell {
    padding: 15px 4px !important;
  }
}

/*@media (max-width: 576px) {
  .finalpay-table .row:first-child .finalpay-table-cell.border-right-0 {
    border-right: 1px solid #c4c4c4 !important;
  }
}*/

@media (max-width: 600px) {
  .orders .shipping-table .row .table-cell {
    font-size: 12px !important;
    padding: 10px 5px !important;
  }
}

@media (max-width: 560px) {
  .profile--section .info--table .table-cell.border-right-0 p {
    font-size: 12px !important;
  }
  .profile--section .info--table .table-cell {
    padding: 16px 10px 5px 10px;
  }
  .orders .orders-table .table-cell,
  .orders .orders-table .row:first-child .table-cell span,
  .orders .orders-table .resp-row span,
  .orders .orders-table .table-cell.second-row-cell,
  .btn-reorder {
    font-size: 12px !important;
  }
}

@media (max-width: 530px) {
  .finalpay-table .row:first-child .finalpay-table-cell {
    height: 40px !important;
    padding: 12px 3px !important;
  }
  .finalpay-table form .checkbox {
    margin-top: 20px !important;
    padding-right: 4px !important;
  }
}

@media (max-width: 480px) {
  .wishlist .wishlist-table .wishlist-table-cell span {
    font-size: 13px !important;
  }
  .wishlist-info-table .select-edit {
    width: 100% !important;
  }
  .wishlist-info-table
    .wishlist-info-table-cell
    .form-group
    input[type="text"] {
    width: 100% !important;
  }
  .new-address-title {
    font-size: 18px !important;
  }
  .delete-address .del-address-title {
    font-size: 20px !important;
  }
  .delete-address .ques-text {
    font-size: 14px !important;
  }
  .btn-add-address {
    width: 100% !important;
  }

  .profile--section .change-pass .save-btn,
  .profile--section .change-pass .cancel-btn,
  .profile--section .edit-profile .save-btn,
  .profile--section .edit-profile .cancel-btn {
    width: 50% !important;
  }
  .finalpay-table .row:first-child .finalpay-table-cell span {
    padding: 10px 0 !important;
  }
  .finalpay-table .finalpay-table-cell {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .finalpay-table form .checkbox {
    margin-bottom: 50px !important;
  }
}

@media (max-width: 430px) {
  .btn-delete,
  .btn-edit {
    font-size: 10px !important;
    padding: 10px 0;
  }
  .profile--section
    .email-history
    .email-info-table
    .row:first-child
    .email-info-table-cell {
    padding: 10px 5px 5px 10px;
  }
  .profile--section
    .email-history
    .email-info-table
    .row:first-child
    .email-info-table-cell
    span {
    font-size: 14px !important;
  }
  .btn-wishlist {
    width: 100% !important;
  }
  .profile--section .new-wishlist .wishlist-title {
    font-size: 18px !important;
  }
  .profile--section .remove-wishlist .save-btn,
  .profile--section .remove-wishlist .cancel-btn,
  .profile--section .new-address .save-btn,
  .profile--section .new-address .cancel-btn,
  .profile--section .delete-profile .save-btn,
  .profile--section .delete-profile .cancel-btn {
    width: 50% !important;
  }
  .my-addresses .my-addresses-cell .list-group .list-group-item {
    padding: 4px 0 8px 0 !important;
  }
  .my-addresses .my-addresses-cell {
    padding: 20px 10px !important;
  }
  .my-addresses .my-addresses-cell .default-bill,
  .my-addresses .my-addresses-cell .default-ship {
    padding: 10px 4px !important;
  }
  .my-addresses .my-addresses-cell .select-edit {
    width: 100% !important;
  }
  .delete-address #add-info-text {
    font-size: 16px !important;
  }
  .delete-address .delete-btn,
  .delete-address .cancel-btn {
    width: 50% !important;
  }
  .finalpay-table .row:first-child .finalpay-table-cell span {
    font-size: 10px !important;
    padding: 0 0 0 3px !important;
  }
  .finalpay-table .finalpay-table-cell,
  .finalpay-table form .checkbox label {
    font-size: 10px !important;
  }
}

@media (max-width: 376px) {
  .profile--section .address p {
    font-size: 14px !important;
  }
  .profile--section .address .btn-add-address {
    width: 100% !important;
  }
  .wishlist .wishlist-table .wishlist-table-cell .select-edit {
    width: 100% !important;
  }
  .totals--section .cart-total span {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .btn-delete,
  .btn-edit {
    width: 100% !important;
  }
  .btn-edit {
    margin-bottom: 10px;
  }
  .profile--section .new-wishlist .row:nth-child(3) p {
    font-size: 12px !important;
  }
  .profile--section .new-wishlist .save-btn,
  .profile--section .new-wishlist .cancel-btn {
    width: 50% !important;
  }
  .my-addresses .my-addresses-cell .default-bill,
  .my-addresses .my-addresses-cell .default-ship {
    font-size: 10px !important;
  }
}

/* *********************************************** Profile End  ************************************** */
